version: "3"
services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - VERSION=docker
    ports:
      - 5001:32400 # In case you need to reach the original server for some reason
    volumes:
      - /Users/oatmeal/plex:/config
      - /Users/oatmeal/Documents/Electronic Music/Exports/Full Tracks:/music
    restart: unless-stopped

  pomelo:
    build: .
    ports:
      - 5500:5500
    volumes:
      - /Users/oatmeal/plex:/config # !!Make this the same as line 14!!
    depends_on:
      - plex
