services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - VERSION=docker
    ports:
      - 5001:32400 # In case you need to reach the original server for some reason
    volumes:
      - /Users/oatmeal/plex:/config
      - /Users/oatmeal/plex/music:/music
      - /Users/oatmeal/Movies:/movies
    restart: unless-stopped

  pomelo_dev:
    build: 
      dockerfile: Dockerfile.dev
    ports:
      - 32400:5500
    environment:
      - PYTHONUNBUFFERED=1                  # Make `print` work
    volumes:
      - /Users/oatmeal/plex:/config         # !!Make this the same as line 14!!
      - /Users/oatmeal/plex/pomelo:/pomelo  # This can be anywhere
      - .:/code/pomelo
    restart: unless-stopped
    depends_on:
      - plex
